<header class="header">
  <div class="container nav">
    <div class="logo">
      <a href="#banner">
        <img src="/img/logo ambiente.png" alt="Ambienta Eventos Logo" class="logo-img" />
      </a>
    </div>

    <nav class="menu">
      <a href="#banner">Inicio</a>
      <a href="#about">Acerca de</a>
      <a href="#gallery">Galería</a>
      <a href="#testimonials">Testimonios</a>
      <a href="#contact">Contacto</a>
      <a href="#form" class="btn-primary">Reserva ahora</a>
    </nav>
  </div>
</header>


